.container{
    background-color: rgb(44,62,79);
}

header .row{
    height: 80px;
}

.logo{
    color: white;
}

.menu{
    background-color: green;
}

.start{
    background-color: rgb(25,188,155);
    height: 300px;
}

.info{
    background-color: black;
    height: 80%;
    color: white;
}

.portfolio{
    background-color: white;
}





